body {
  font-family: 'Prompt', sans-serif;
  background-color: #F4F6F8;
  color: #003B3B;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F4F6F8;
}
::-webkit-scrollbar-thumb {
  background: #D6D6D6;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7CC6F0;
}